.P1 {
    background: linear-gradient(to right, #f54e4e 1%, white 70% ); 
}
.P2 {
    background: linear-gradient(to right, #fda52a 1%, white 70% ); 
}

.P3 {
    background: linear-gradient(to right, #ffd64e 1%, white 70%); 
}
.fall {
    transform:  translateY(8rem) rotateZ(20deg);
    opacity: 0;
}